<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Unlock NYC - {{ pageTitle }}</title>
    <link rel="stylesheet" href="{{ linkedCSS }}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,200;0,300;0,400;1,300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/910fe5b89c.js" crossorigin="anonymous"></script>
    <style>
      #banner {
        position: absolute;
        top: -20px;
        right: 0;
        width: 100%;
        background: url('https://cdn.glitch.com/b185c63a-8d27-412b-b4cb-047ca0c8de79%2Fabout-windows3.png?v=1605127894964');
        background-size: contain;
        background-position: 100% 0%;
        background-repeat: no-repeat;
        height: 45vh;
        z-index: -1;
      }
      #banner-figures {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        background: url(https://cdn.glitch.com/b185c63a-8d27-412b-b4cb-047ca0c8de79%2Fabout-figures3.svg?v=1605127888304);
        background-size: contain;
        background-position: 100% 0%;
        background-repeat: no-repeat;
        height: 45vh;
      }
      h1.home-title {
        cursor: pointer;
      }
      h1.home-title:hover {
        color: #f124c2;
      }
      #titles-wrap {
        padding-top: 4%;
        padding-left: 4%;
        max-width: 30%;
      }
      #about-page {
        padding: 4%;
        max-width: 80%;
        margin: auto;
        margin-top: 100px;
      }
      #about-page p {
        text-align: justify;
      }
      #about-page h2 {
        font-size: 22px;
        font-weight: 600;
        text-transform: uppercase;
      }
      #about-page p.has-img {
        display:inline-block;
      }
      #about-page p img {
        width: 200px;
        border-radius: 100%;
      }
      #menu {
        display: none;
      }
      @media only screen and (max-width: 1415px) {
        #banner {
          width: 50%;
        }
      }
      @media only screen and (max-width: 1050px) {
        #banner {
          width: 100%;
          top: 300px;
        }
        #about-page {
          margin-top: 35vh;
        }
      }
      @media only screen and (max-width: 700px) {
        #banner {
          top: 160px;
        }
        #about-page {
          margin-top: 30vh;
          max-width: 90%;
        }
        #about-page h1 {
          font-size: 6.5vw;
        }
        #titles-wrap {
          max-width: 100%;
        }
      }
    </style>
  </head>
  <body>
  {% include menu.liquid %}
  
  <div id="banner">
      <div id="banner-figures">
      </div>
  </div>
  
  <div id="titles-wrap">
      <h1 class="home-title">
        Unlock NYC
      </h1>
      <h2 class="home-subtitle">
        About Us
      </h2>
  </div>
  
  <div id="about-page">
    {{ content }}
  </div>
  
   {% include footer.liquid %}
  
  
    
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>  
  <script>
    $(document).ready(function() {
      $("h1.home-title").click(function() {
        window.location.href= "/";
      });
      $("#about-page p").each(function() {
        if ($(this).find('img').length){
          $(this).addClass("has-img");
        }
      });
    });
  </script>
  </body>
  
</html>