<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Unlock NYC - {{ pageTitle }}</title>
    <link rel="stylesheet" href="{{ linkedCSS }}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,200;0,300;0,400;1,300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/910fe5b89c.js" crossorigin="anonymous"></script>
    <style>
      #banner {
        position: absolute;
        top: -20px;
        right: 0;
        width: 100%;
        background: url('https://cdn.glitch.com/b185c63a-8d27-412b-b4cb-047ca0c8de79%2Fabout-windows3.png?v=1605127894964');
        background-size: contain;
        background-position: 100% 0%;
        background-repeat: no-repeat;
        height: 45vh;
      }
      #banner-figures {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        background: url(https://cdn.glitch.com/b185c63a-8d27-412b-b4cb-047ca0c8de79%2Fabout-figures3.svg?v=1605127888304);
        background-size: contain;
        background-position: 100% 0%;
        background-repeat: no-repeat;
        height: 45vh;
      }
      #titles-wrap {
        padding-top: 4%;
        padding-left: 4%;
        max-width: 30%;
      }
      #about-page {
        padding: 4%;
        margin-top: 100px;
      }
    </style>
  </head>
  <body>
  {% include menu.liquid %}
  
  <div id="banner">
      <div id="banner-figures">
      </div>
  </div>
  
  <div id="titles-wrap">
      <h1 class="home-title">
        Unlock NYC
      </h1>
      <h2 class="home-subtitle">
        About Us
      </h2>
  </div>
  
  <div id="about-page">
    {{ content }}
  </div>
  
  
    
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>  
  </body>
  
</html>