<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Unlock NYC - {{ pageTitle }}</title>
    <link rel="stylesheet" href="{{ linkedCSS }}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,200;0,300;0,400;1,300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/910fe5b89c.js" crossorigin="anonymous"></script>
    <style>
      #banner {
        position: absolute;
        top: -20px;
        right: 0;
        width: 100%;
        background: url('https://cdn.glitch.com/b185c63a-8d27-412b-b4cb-047ca0c8de79%2Fabout-windows3.png?v=1605127894964');
        background-size: contain;
        background-position: 100% 0%;
        background-repeat: no-repeat;
        height: 45vh;
        z-index: -1;
      }
      #banner-figures {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        background: url(https://cdn.glitch.com/b185c63a-8d27-412b-b4cb-047ca0c8de79%2Fabout-figures3.svg?v=1605127888304);
        background-size: contain;
        background-position: 100% 0%;
        background-repeat: no-repeat;
        height: 45vh;
      }
      h1.home-title {
        cursor: pointer;
      }
      h1.home-title:hover {
        color: #f124c2;
      }
      #titles-wrap {
        padding-top: 4%;
        padding-left: 4%;
        max-width: 30%;
      }
      #headline-wrap {
        width: 140%;
        margin-left: -20%;
        padding: 20%;
        padding-top: 8%;
        padding-bottom: 8%;
        background-color: #efefef;
        color: #23286a;
        margin-top: 75px;
        margin-bottom: 75px;
      }
      #headline-wrap h2 {
        text-transform: none !important;
        font-size: 32px !important;
      }
      #about-page {
        padding: 4%;
        max-width: 80%;
        margin: auto;
      }
      #about-page p {
        /*text-align: justify;*/
      }
      #about-page h2 {
        font-size: 22px;
        font-weight: 600;
        text-transform: uppercase;
      }
      #about-page a {
        font-weight: 900;
        text-decoration: none;
        color: #23286a;
        border-bottom: 1px dotted #23286a;
      }
      a.img-link {
        border: none !important;
      }
      #about-page p img {
        max-width: 100%;
      }
      #bios-grid {
        display: grid;
        width: 100%;
        grid-template-columns: 25% 25% 25% 25%;
      }
      div.bio-wrapper {
        text-align: center;
        cursor: pointer;
        border: 2px solid White;
      }
      .hover-bio {
        border: 2px dotted #23286a !important;
      }
      #bio-hover {
        opacity: 0;
        transition: all 900ms;
        background-color: #efefef;
        padding: 20px;
      }
      div.bio-text p.name {
        font-family: 'Roboto Mono';
        font-size: 14px;
        font-weight: 900;
        margin-bottom: 5px;
      }
      div.bio-text p.pronoun {
        font-size: 14px;
        margin-top: 0;
      }
      img.headshot {
        max-width: 80%;
      }
      div.bio-content {
        display: none;
      }
      div.bio-content p {
        text-align: justify !important;
      }
      img.logo {
        width: 150px;
        vertical-align: middle;
      }
      #menu {
        display: none;
      }
      @media only screen and (max-width: 1415px) {
        #banner {
          width: 50%;
        }
      }
      @media only screen and (max-width: 1050px) {
        #banner {
          width: 100%;
          top: 300px;
          background-size: cover;
        }
        #banner-figures {
          background-size: cover;
        }
        #about-page {
          margin-top: 50vh;
        }
      }
      @media only screen and (max-width: 700px) {
        div.bio-wrapper {
          cursor: initial;
        }
        div.bio-content {
          display: block;
        }
        #banner {
          top: 160px;
        }
        #headline-wrap h2 {
          font-size: 4.5vw !important;
        }
        #about-page {
          max-width: 90%;
        }
        #about-page h1 {
          font-size: 6.5vw;
        }
        #titles-wrap {
          max-width: 100%;
        }
        #bios-grid {
          grid-template-columns: 100%;
        }
      }
    </style>
  </head>
  <body>
  {% include menu.liquid %}
  
  <div id="banner">
      <div id="banner-figures">
      </div>
  </div>
  
  <div id="titles-wrap">
      <h1 class="home-title">
        Unlock NYC
      </h1>
      <h2 class="home-subtitle">
        About Us
      </h2>
  </div>
  
  <div id="about-page">
    <div id="headline-wrap">
      <h2>
        Up to 80% of homeless New Yorkers who are looking for an apartment can’t find a place to live.
      </h2>
      <h2>
        We strive to make the apartment search process transparent, fair, and free from discrimination for all New Yorkers. 
      </h2>
    </div>
    {{ content }}
    <div id="collab-logos">
      <div id="actions">
        <img style="width: 100%;" src="https://cdn.glitch.com/b185c63a-8d27-412b-b4cb-047ca0c8de79%2FHudsonYards_10.27.2020.jpg?v=1605550229501">
        <p style="font-size: 15px; margin-top: 0; font-style: italic;">We take our cues from New Yorkers directly impacted by homelessness and from member-led organizations that mobilize for power and transformative change towards the right to housing. We support the <a href="https://www.homelesscantstayhome.org/" target="_blank">#HomelessCantStayHome</a> and VALUE in Housing campaigns, and look forward to continuing to build with our partners, collaborators, and allies in the future. </p>
      </div>
      <a class="img-link" href="https://neighborstogether.org/" target="_blank">
        <img class="logo" src="https://cdn.glitch.com/b185c63a-8d27-412b-b4cb-047ca0c8de79%2FNeighborsTogether_logo.png?v=1605548777796">
      </a>
      <a class="img-link" href="https://communitiesresist.org/" target="_blank">
        <img class="logo" src="https://cdn.glitch.com/b185c63a-8d27-412b-b4cb-047ca0c8de79%2FCommunitiesResist_Logo.png?v=1605548782492">
      </a>
      <a class="img-link" href="https://labs.robinhood.org/" target="_blank">
        <img class="logo" src="https://cdn.glitch.com/b185c63a-8d27-412b-b4cb-047ca0c8de79%2FBlueRidgeLabs_logo.png?v=1605548787537">
      </a>
      <a class="img-link" href="https://www.awesomefoundation.org/en" target="_blank">
        <img class="logo" src="https://cdn.glitch.com/b185c63a-8d27-412b-b4cb-047ca0c8de79%2FAwesomeFoundation_logo_white.jpg?v=1605548791395">
      </a>
    </div>
    
  </div> <!-- end of #about-page -->
  
   {% include footer.liquid %}
  
  
    
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>  
  <script>
    $(document).ready(function() {
      $("h1.home-title").click(function() {
        window.location.href= "/";
      });
      
      if ($(window).width() > 700) {
        $("div.bio-wrapper").hover(function() {
          $(this).toggleClass("hover-bio");
          let theBio = $(this).find("div.bio-content").html();
          $("div#bio-hover").html(theBio);
          $("div#bio-hover").show();
          $("div#bio-hover").css("opacity", 1);
          
        });
        $("div#bio-wrap-grid").mouseleave(function() {
          $("div#bio-hover").css("opacity", 0).delay(1000).hide();
        });
      }
    });
  </script>
  </body>
  
</html>