<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Make your housing search fairer with Unlock NYC</title>
  </head>
  <body>
    <script SameSite="None; Secure" src="https://static.landbot.io/landbot-widget/landbot-widget-1.0.0.js"></script>
    <script>
      var myLandbot = new LandbotFullpage({
        index: '{{ botLink }}',
      });
    </script>
  </body>
</html>