<footer>
    <p>&copy; 2020 Unlock NYC</p>
    <p><i class="fas fa-laptop-code"></i> made in brooklyn</p>
    <p><i class="far fa-envelope"></i> questions? hello@landlordwatch.nyc</p>
    <p><i class="fab fa-facebook"></i> follow us on Facebook</p>
  </footer>