<footer>
  <div id="footer-left">
    <p>&copy; 2020 Unlock NYC</p>
    <p><i class="fas fa-laptop-code"></i> made in brooklyn</p>
    <p><i class="far fa-envelope"></i> questions? <a href="mailto:hello@weunlock.nyc">hello@weunlock.nyc</a></p>
    <p><a href="https://www.facebook.com/WeUnlockNYC/" target="_blank"><i class="fab fa-facebook"></i> follow us on Facebook</p></a>
  </div>
  <div id="footer-right">
      <p><a href="/privacy">Privacy Policy</a></p>
      <p><a href="/useragreement">User Agreement</a></p>
  </div>
</footer>