<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Unlock NYC - {{ pageTitle }}</title>
    <link rel="stylesheet" href="{{ linkedCSS }}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,200;0,300;0,400;1,300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/910fe5b89c.js" crossorigin="anonymous"></script>
  </head>
  <body>
  
  <div id="page">
    <section id="top" class="full">
      <div id="key-friend"></div>
      <div id="top-bg">
        <div id="top-figures"></div>
      </div>
      <div id="titles">
        <h1 class="home-title">Unlock NYC</h1>
        <h2 class="home-subtitle">Fighting for a fair housing search</h2>
        <br>
        <h2 class="home-info">Looking for housing with a <strong style="font-weight:900;">voucher?</strong>
        <br>You've come to the right place.</h2>
        <h2 class="home-info" style="margin-top: 15px;">Use our free tools to learn about your rights and report injustice - right from your phone.</h2>
      </div>
    </section>
    {% include menu.liquid %}
    <section id="info" style="height: auto;">
      <h1>It should be easier to find a home with your voucher.</h1>
      <h2 class="banner-text">At Unlock NYC, we build free tools you can use to protect your rights during your search for housing. Why? 
      If you have evidence that a landlord or broker is treating you unfairly, and you report it quickly, the city or an attorney may be able to help 
      you get a fair shot at that apartment.</h2>
      <h2 class="banner-text">When you use your voice to report where discrimination is happening, who’s doing it, and what it sounds 
      like &mdash; you can help make the housing search fairer for all New Yorkers!</h2>
    </section>
    <section id="windows" style="height: 80vh;">
      <div id="windows-figures"></div>
      <div id="windows-animated"></div>
    </section>
    <section id="stories" class="full">
      <div class="story-slider" id="slider">
        <div class="control_next"><i class="fal fa-angle-right"></i></div>
        <div class="control_prev"><i class="fal fa-angle-left"></i></div>
        <ul>
        {% for slide in collections.slides %}
        <li>
          <img class="storyline" src="https://raw.githubusercontent.com/mab253/unlock-nyc-web/main{{ slide.data.bg_img }}">
          <div class="slide-text">
          {{ slide.data.content }}
          </div>
        </li>
        {% endfor %}
        </ul>
      </div>
    </section>
    <section id="report-bot" class="half">
      <div id="coming-soon">
        <h1>Coming Soon</h1>
        <h2 class="banner-text">We think it should be quick and easy to report shady landlord behavior, every time. 
        And, we think you deserve to know what happens to your report. That’s why we’re building free tools that will allow you to record your phone calls to 
        apartments you’re interested in, and report discriminatory incidents. Stay tuned for more details!</h2>
    </section>
    <section id="join-us" class="half">
      <h1>Sign up for Updates</h1>
      <h2 class="banner-text">Are you interested in receiving tips on how to use your voucher in NYC and fight back against discrimination? Do you want to know when we launch new tools? 
      Join us by sharing your email here.</h2>
      <form id="join-email" action='https://unlock-nyc-servers.glitch.me/join-email' method='post'>
        <input type="email" name="email" required placeholder="your@email.com">
        <input type="submit" value="Join">
      </form>
      <div id="join-activist">
      </div>
    </section>
    
  </div>
  
  {% include footer.liquid %}
  
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> 
  <script src="/scripts/slider.js"></script> 
  <script>
    $(document).ready(function() {
    
      slideTextCheck();
      
      if($(window).width() > 700) {
        // sticky menu
        $(window).scroll(function() {
          let windowHeight = $(window).height();
          if ($(window).scrollTop() > windowHeight) {
            $("#menu").addClass("sticky");
          } else {
            $("#menu").removeClass("sticky");
          }
        }) // end scroll function
      }
                  
      function slideTextCheck() {
        $("#slider div.slide-text").each(function() {
          let slideTitle = $(this).children("h1").height();
          if (slideTitle > 320) {
            $(this).addClass("longtitle");
          }
          if ($(window).width() < 700) {
            $(this).parent("li").children("img.storyline").css("top", 10);
          }
        });
      }
      
      // form action
      $('#join-email').submit(function(e){
        e.preventDefault();
        $.ajax({
          url: 'https://unlock-nyc-servers.glitch.me/join-email',
          type: 'post',
          data:$('#join-email').serialize(),
          success:function(){
            console.log('submitted form');
            $("form#join-email input[type='submit']").attr("value", "Thank You");
          }
        });
      });
    });
  </script>
  </body>
  
</html>