<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Unlock NYC - {{ pageTitle }}</title>
    <link rel="stylesheet" href="{{ linkedCSS }}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,200;0,300;0,400;1,300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/910fe5b89c.js" crossorigin="anonymous"></script>
  </head>
  <body>
  
  {% include menu.liquid %}
  
  <div id="page">
    <section id="top" class="full">
      <div id="key-friend"></div>
      <div id="top-bg">
        <div id="top-figures"></div>
      </div>
      <div id="titles">
        <h1 class="home-title">Unlock NYC</h1>
        <h2 class="home-subtitle">fighting for fair housing</h2>
        <br>
        <h2 class="home-info">looking for housing with a <strong style="font-weight:900;">voucher?</strong>
        <br>you've come to the right place.</h2>
      </div>
    </section>
    <section id="stories" class="full">
      <div class="story-slider" id="slider">
        <div class="control_next">></div>
        <div class="control_prev"><</div>
        <ul>
        {% for slide in collections.slides %}
        <li>
          <img class="storyline" src="https://raw.githubusercontent.com/mab253/unlock-nyc-web/main{{ slide.data.bg_img }}">
          <div class="slide-text">
          {{ slide.data.content }}
          </div>
        </li>
        {% endfor %}
        </ul>
      </div>
    </section>
    <section id="windows" class="full">
      <div id="windows-figures"></div>
      <div id="windows-animated"></div>
    </section>
    <section id="info" class="half">
      <h1>More Info.</h1>
      <h2 class="banner-text">Vouchers are text text copy copy copy - for you and copy words more info. More information, more help, more tools. We build tools that blah.</h2>
    </section>
    <section id="join-us" class="half">
      <h1>Join Us</h1>
      <h2 class="banner-text">If you want more information about our tools and how you can take action against voucher discrimination, please sign up with your e-mail address and we will be in touch.</h2>
      <form>
        <input type="email" required placeholder="your@email.com">
        <input type="submit">
      </form>
      <div id="join-activist">
      </div>
    </section>
    <section id="report-bot" class="half">
      <div id="coming-soon">
        <h1>Coming Soon</h1>
        <h2 class="banner-text">Tools that allow you to record your phone calls with landlords and brokers, easily report discrimination, and move on with your housing search.</h2>
    </section>
    
  </div>
  
  {% include footer.liquid %}
  
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> 
  <script src="/scripts/slider.js"></script> 
  <script>
    $(document).ready(function() {
    
      slideTextCheck();
      
      if($(window).width() > 700) {
        $(window).scroll(function() {
          let windowHeight = $(window).height();
          if ($(window).scrollTop() > windowHeight) {
            $("#menu").addClass("sticky");
          } else {
            $("#menu").removeClass("sticky");
          }
        }) // end scroll function
      }
      
      function slideTextCheck() {
        $("#slider div.slide-text").each(function() {
          let slideTitle = $(this).children("h1").height();
          if (slideTitle > 320) {
            $(this).addClass("longtitle");
          }
          if ($(window).width() < 700) {
            $(this).parent("li").children("img.storyline").css("top", slideTitle - 60);
          }
        });
      }
    });
  </script>
  </body>
  
</html>