<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <title>Unlock NYC - {{ pageTitle }}</title>
    <link rel="stylesheet" href="{{ linkedCSS }}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,200;0,300;0,400;1,300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap" rel="stylesheet">
  </head>
  <body>
  {% include menu.liquid %}
  
  {{ content }}
    
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>  
  </body>
  
</html>