<div id="menu">
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/#stories">Learn</a></li>
    <li><a href="/#report-bot">Report</a></li>
    <li><a href="/#report-bot">Record</a></li>
    <li><a href="/about">About Us</a></li>
    <li><a href="https://www.facebook.com/WeUnlockNYC/" rel="noreferrer" target="_blank"><i aria-hidden="true" class="fab fa-facebook" style="font-size: 25px; vertical-align: middle;"></i></a></li>
    <li id="donate"><a href="https://weunlocknyc.causevox.com" rel="noreferrer" target="_blank">Donate</a></li>
  </ul>
</div>
<div id="mobile-menu">
  <div><img src="https://cdn.glitch.com/b185c63a-8d27-412b-b4cb-047ca0c8de79%2Ftinykey.png?v=1606135613492"> MENU</div>
</div>