<div id="menu">
  <ul>
    <a href="/"><li>Home</li></a>
    <a href="/#stories"><li>Stories</li></a>
    <a href="/#report-bot"><li>Report Discrimination</li></a>
    <a href="/#report-bot"><li>Record Calls</li></a>
    <a href="/about"><li>About Us</li></a>
  </ul>
</div>