<div id="menu">
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/#stories">Stories</a></li>
    <li><a href="/#report-bot">Report Discrimination</a></li>
    <li><a href="/#report-bot">Record Calls</a></li>
    <li><a href="/about">About Us</a></li>
  </ul>
</div>